<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js' %} lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js' %} lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js' %} lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
	{% load static  %}
<html class="no-js' %}"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Aviato E-Commerce Template">
  
  <meta name="author" content="Themefisher.com">

  <title>Airspace | Creative Agency Bootstrap template</title>

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static  'img/favicon.png'%}" />
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
  <!-- Ionic Icon Css -->
  <link rel="stylesheet" href="{% static 'plugins/Ionicons/css/ionicons.min.css' %}">
  <!-- animate.css -->
  <link rel="stylesheet" href="{% static 'plugins/animate-css/animate.css' %}">
  <!-- Magnify Popup -->
  <link rel="stylesheet" href="{% static 'plugins/magnific-popup/magnific-popup.css' %}">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}">
  
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body id="body">

<!-- Header Start -->
<header class="navigation">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- header Nav Start -->
				<nav class="navbar">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="index.html">
								
								<img src="{% static  'images/new.jpg' %}" alt="Logo">
							</a>
							
						</div>
						
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="home">Home</a></li>
								<li><a href="#">Signup</a></li>
								<li><a href="contact">Contact</a></li>
								<li><a href="service">About Us</a></li>
							</ul>
							
					
						</ul>
							</div><!-- /.navbar-collapse -->
							</div><!-- /.container-fluid -->
						</nav>
					</div>
				</div>
			</div>
			</header><!-- header close -->

<section class="page-title bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block animated fadeInDown">
          <h1><b>Hadith</b></h1>
          <p class="lead fw-bolder text-black m-0">
   سْمِ اللَّـهِ الرَّحْمَـٰنِ الرَّحِيمِ
		</p>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="page-wrapper" style="margin-bottom: 0;">
	<div class="container">
		<div class="row ">
			<div class="col-md-8">
        		<div class="post">
	<div class="post-media post-thumb">
	
			<img src="static/images/book (2).jpg" alt="">
	
	</div>
	

	<div class="post-content post-excerpt">
		
		<section class="about section" style="display: inline"> 
			<div class="container">
			  <div class="row">
				<div class="col-md-7 col-sm-12" style="background-color:rgb(255, 251, 251);">
				  <div class="block">
					<div class="section-title">
					  <h2>How the Divine Revelation started being revealed to Allah's Messenger</h2>
					  <h3 style="color: rgb(24, 16, 77);"><i><b>Arabic:</b></i></h3>
			
					  <h4 style="color:black;">حَدَّثَنَا الْحُمَيْدِيُّ عَبْدُ اللَّهِ بْنُ الزُّبَيْرِ ، قَالَ : حَدَّثَنَا سُفْيَانُ ، قَالَ : حَدَّثَنَا يَحْيَى بْنُ سَعِيدٍ الْأَنْصَارِيُّ ، قَالَ : أَخْبَرَنِي مُحَمَّدُ بْنُ إِبْرَاهِيمَ التَّيْمِيُّ ، أَنَّهُ سَمِعَ عَلْقَمَةَ بْنَ وَقَّاصٍ اللَّيْثِيَّ ، يَقُولُ : سَمِعْتُ عُمَرَ بْنَ الْخَطَّابِ رَضِيَ اللَّهُ عَنْهُ عَلَى الْمِنْبَرِ، قَالَ : سَمِعْتُ رَسُولَ اللَّهِ صَلَّى اللَّهُ عَلَيْهِ وَسَلَّمَ، يَقُولُ : " إِنَّمَا الْأَعْمَالُ بِالنِّيَّاتِ، وَإِنَّمَا لِكُلِّ امْرِئٍ مَا نَوَى، فَمَنْ كَانَتْ هِجْرَتُهُ إِلَى دُنْيَا يُصِيبُهَا أَوْ إِلَى امْرَأَةٍ يَنْكِحُهَا، فَهِجْرَتُهُ إِلَى مَا هَاجَرَ إِلَيْهِ "
			          <h3 style="color:rgb(24, 16, 77);"><i><b>Translation</b></i></h3>
					  <p>I heard Allah's Messenger (ﷺ) saying, "The reward of deeds depends upon the intentions and every person will get the reward according to what he has intended. So whoever emigrated for worldly benefits or for a woman to marry, his emigration was for what he emigrated for."</p>
					<p style="color:rgb(24, 16, 77);"><b><i>Sahih al-Bukhari 1 (In-book reference: Book 1, Hadith 1)
					</i></b></p>  
			  </div>
			</div>
		  </section>

		  
		<section class="about section" style="display: inline"> 
			<div class="container">
			  <div class="row">
				<div class="col-md-8 col-sm-12" style="background-color:rgb(255, 251, 251);">
				  <div class="block">
					
					<div class="section-title">
						{% for hadith in hadith_list1 %}
					  <h2 class="post-title"> {{hadith.Hadith_Topic}} </h2>

					  <h3 style="color: rgb(24, 16, 77);"><i><b>Arabic:</b></i></h3>
					  <h4 style="color:black;" >{{hadith.ArabicText}}</h4>
					<h3 style="color:rgb(24, 16, 77);"><i><b>Translation</b></i></h3>
					  <p>{{hadith.HAdith_Trans}}</p>					
					  <p style="color:rgb(24, 16, 77);"><b><i>{{hadith.Hadith_referenece}}
					</i></b></p>  
					{% endfor %}
			  </div>
			
			</div>
	

		  </section>
	
  

	</div>	
</div>
</div>
      		<div class="col-md-4">
				<aside class="sidebar">
	<!-- Widget Recent Articles -->
	<div class="widget widget-latest-post animated fadeInRight"> 
		<h3 class="widget-title"><B>Daily Namaz Reminders</B></h3>
		
		
		<div class="media">
				<a class="pull-left">
					<img class="media-object" src="https://www.vippng.com/png/detail/246-2468677_small-calendar-icon-png.png" alt="Image">
				</a>
				<div class="media-body"></div>
				<h4 class="media-heading"><b>Fajr</b></h4>
				<h5>5:58 AM</h5></div>

	<div class="media">
			<a class="pull-left">
				<img class="media-object" src="https://www.vippng.com/png/detail/246-2468677_small-calendar-icon-png.png" alt="Image">
			</a>
			<div class="media-body"></div>
			<h4 class="media-heading"><b>Dhuhr</b></h4>
			<h5>12:42 PM</h5></div>

	<div class="media">
			<a class="pull-left">
				<img class="media-object" src="https://www.vippng.com/png/detail/246-2468677_small-calendar-icon-png.png" alt="Image">
			</a>
			<div class="media-body"></div>
			<h4 class="media-heading"><b>Asr</b></h4>
			<h5>4:29 PM</h5></div>

			<div class="media">
				<a class="pull-left">
					<img class="media-object" src="https://www.vippng.com/png/detail/246-2468677_small-calendar-icon-png.png" alt="Image">
				</a>
				<div class="media-body"></div>
				<h4 class="media-heading"><b>Maghrib</b></h4>
				<h5>6:04 PM</h5></div>

			<div class="media">
				<a class="pull-left">
				<img class="media-object" src="https://www.vippng.com/png/detail/246-2468677_small-calendar-icon-png.png" alt="Image">
			</a>
			<div class="media-body"></div>
				<h4 class="media-heading"><b>Isha</b></h4>
				<h5>7:25 PM</h5>
			</div>
		</div>
		
	</div>

	
	<!-- End Latest Posts -->
	<div class="col-md-4">
				<aside class="sidebar">

	<!-- Widget Category -->
	<div class="widget widget-category animated fadeInRight">
		<h4 class="widget-title">All Islamic Events</h4>
		<ul class="widget-category-list">
	        <li><a href="#">Shab e Meraj 2022 - (28th February 2022)</a>
	        </li>
	        <li><a href="#">Ramadan 2022 - (2nd April 2022)</a>
	        </li>
	        <li><a href="#">Laylat al Qadr 2022 - (30th May 2022)
			</a>
	        </li>
	        <li><a href="#">Eid ul Fitr 2022 - (2nd May 2022)
			</a>
	        </li>
			<li><a href="#">Hajj 2022 - (30th June 2022)
			</a>
	        </li>
			<li><a href="#">Eid al Adha 2022 - (9th July 2022)
			</a>
	        </li>
			<li><a href="#">Muharram 2022 - (30th July 2022)
			</a>
	        </li>
			<li><a href="#">Ashura 2022 - (8th August 2022)
			</a>
	        </li>
			<li><a href="#">12 Rabi ul Awal 2022 - (8th October 2022)</a>
	        </li>
			<li><a><i> *These dates are dependent on moon sightings.</i></a></li>

	    </ul>
	</div> <!-- End category  -->


		<!-- Widget Recent Articles -->
		<div class="widget widget-latest-post animated fadeInRight"> 
			<h3 class="widget-title"><B>Islamic Gallery</B></h3>
			
			
			<div class="media">
					<a class="pull-left">
						<img class="media-object" src="https://i.pinimg.com/564x/cd/c2/16/cdc21644e94955c8e57f0398e02bd237.jpg"		>	</a>
					<a class="pull-left">
						<img class="media-object" src="https://i.pinimg.com/564x/22/ee/8e/22ee8e36d0b84b4c70c08f1a4a2fefe0.jpg"		>	</a>
					<a class="pull-left">
						<img class="media-object" src="https://i.pinimg.com/236x/cd/0b/03/cd0b039af119d0481ff2d2f04c08ea2e.jpg"		>	</a>
							
					</div>
					</aside>
					</div>
	



</aside>
      		</div>
		</div>
	</div>
</div>





<!-- footer Start -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="footer-manu">
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact us</a></li>
						<li><a href="#">How it works</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Terms</a></li>
					</ul>
				</div>
				<p class="copyright">Copyright 2021 &copy; Design & Developed by <a href="http://www.themefisher.com">TheOnlyWay.com</a>. All rights reserved.
					<br>
						</p>
			</div>
		</div>
	</div>
</footer>

    <!-- 
    Essential Scripts
    =====================================-->


    <!-- Main jQuery -->
    <script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script>
    <!-- Bootstrap 3.1 -->
    <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
    <!-- slick Carousel -->
    <script src="{% static 'plugins/slick/slick.min.js' %}"></script>
    <script src="{% static 'plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <!-- filter -->
    <script src="{% static 'plugins/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'plugins/SyoTimer/jquery.syotimer.min.js' %}"></script>

    <!-- Form Validator
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js' %}"></script> -->

    <!-- Google Map -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js' %}?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
    <script src="{% static 'plugins/google-map/map.js' %}"></script>  -->

    <script src="{% static  'js' %}/script.js' %}"></script>

    </body>

    </html>